html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.full_width {
  width: 100%;
}

.hiden_on_md {
  margin-left: 8px;
  display: flex;
}

.hiden_on_lg {
  display: none;
}

@media screen and (max-width: 1230px) {
  .hiden_on_md {
    display: none;
  }
  .hiden_on_lg {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
