.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
  width: 100%;
}

.list_container {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .list_container {
    width: 100%;
  }
}
